@model IEnumerable<Padfolio_Dapper_.Models.Blogs>
@{
    ViewBag.Title = "BDelete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Blogs</h5>
        <!-- Table Variants -->
        <button type="button" class="btn btn-success"><p>@Html.ActionLink("Create New", "BAddUpdate")</p></button>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.BlogId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.BlogTitle)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.BlogPost)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-info">
                        <th scope="row"> @Html.DisplayFor(modelItem => item.BlogId)</th>
                        <td>@Html.DisplayFor(modelItem => item.BlogTitle)</td>
                        <td>@Html.DisplayFor(modelItem => item.BlogPost)</td>
                        <td>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            <div class="text-center">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </table>
        <!-- End Table Variants -->

    </div>
</div>


